/*
.container {
    margin: 0;
    padding: 0;
    border: 1px solid;
    display: flex;
    flex: 1;
    height: 100vh;
}


.item {
    border: 1px solid;
}


.users {
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user-list-parent {
    margin: 40px;
}

#leave-button {
    margin: 20px;
    padding: 10px;
    background-color: #b30000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#leave-button:hover {
    background-color: #800000;
}

.chat {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.chat-header {
    width: 100%;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}

.chat-messages {
    width: 100%;
    flex-basis: 80%;
}

.chat-textbox {
    width: 100%;
    display: flex;
    flex: 1;
    flex-basis: 10%;
    align-items: center;
}

.chat-inputbox {
    flex-basis: 80%;
    width: 100%;
    height: 100%;
}

.send-button-div {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#send-button {
    height: 35px;
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

.chart {
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*/

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    height: 100vh;
    background-color: #f9f9f9;
}


.item {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 10px;
    border-radius: 8px;
    padding: 20px;
}


.users {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.user-list-parent {
    margin-bottom: 20px;
}

#leave-button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#leave-button:hover {
    background-color: #d3482b;
}

.chat {
    width: 300px;
    max-width: 100%;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.chat-header {
    width: 100%;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}

.chat-messages {
    width: 100%;
    max-width: 100%;
    flex-basis: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-messages p {
    margin-bottom: 10px;
}

.chat-textbox {
    width: 100%;
    display: flex;
    flex: 1;
    flex-basis: 10%;
    align-items: center;
    border: none;
}

.chat-inputbox {
    flex-basis: 80%;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.send-button-div {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#send-button {
    height: 35px;
    width: 100px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#send-button:hover {
    background-color: #45a049;
}

.chart {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

/* Testing chat bubbles */
.message {
    max-width: 70%;
    word-wrap: break-word;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.received {
    align-items: flex-start;
}

.received.message {
    margin-right: auto;
    /* Adjusted */
    background-color: #eee;
    position: relative;
}

.received.message:last-child:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}

.received.message:last-child:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

.sent {
    align-items: flex-end;
}

.sent.message {
    color: white;
    margin-left: auto;
    /* Adjusted */
    background: linear-gradient(to bottom, #4caf50 0%, #4caf50 100%);
    background-attachment: fixed;
    position: relative;
}

.sent.message:last-child:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #4caf50 0%,
        #4caf50 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}

.sent.message:last-child:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
} 

/*Testing username */
.username-on-message {
    padding: 1.2%;
    font-size: 85%;
}