.container {
    margin: 0;
    padding: 0;
    border: 1px solid;
    display: flex;
    flex: 1;
    height: 100vh;
}

.item {
    border: 1px solid;
}

.users {
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user-list-parent {
    margin: 40px;
}

#leave-button {
    margin: 20px;
    padding: 10px;
    background-color: #b30000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#leave-button:hover {
    background-color: #800000;
}

.chat {
    flex-basis: 64%;
}

.chart {
    flex-basis: 18%;
}